

/* 基本 */

.topmargin-sm { 
    margin-top: 20px !important; 
}

.topmargin-lg { 
    margin-top: 60px !important; 
}

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #1a1a1a !important;
}

.bg-dark {
    background-color: #FFF !important;
}

.bg-gray {
    background-color: #f1f3f4 !important;
}

.bg-light {
    background-color: #ffffff !important;
}



/* 按钮 */

.nav-btn {
    line-height: 35px;
    color: #666666;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fbfbfb;
    display: inline-block;
    border-radius: 4px;
    border: 0px solid transparent;
    margin: 0px 0px;
    transition: all 0.2s;
}

.nav-btn:hover {
    text-decoration: none;
    background-color: #e9f0fd;
    color: #377dff;
}

.blue-btn {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0em;
    background-color: #fbfbfb;
    font-weight: 600;
    padding: 7px 7px;
    display: inline-block;
    border-radius: 4px;
    border: 0px solid transparent;
    max-width: 100px;
    margin: 0px 0px;
    min-height: 20px;
    text-align: center;
    transition: all 0.2s;
}

.blue-btn:hover {
    background-color: #e9f0fd;
    color: #377dff;
}


/* 导航栏 */

.navbar {
    display: inline-block;
    height: auto;
    line-height: 54px;
    text-align: center;
    position: fixed;
    top: 0; 
    padding: 0px 0px;
    z-index: 10;
    width: 100%;
    font-family: 'Roboto', 'Noto Sans SC',sans-serif;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-logo {
    width: 160px;
    max-width: 220px;
}

.nav-link {
    font-weight: 300;
    color: #666666;
    display: inline-block;
    line-height: 30px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.nav-link:hover {
    color: #666666;
    opacity: .95;
    border-bottom: 4px solid #6d9eeb;
}



body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .07em;
}

section {
    padding: 60px 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend Deca', sans-serif ;
    color: #1a1a1a;
}

p {
    
}


b {
    
}

dl, ol, ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}



small {
    display: inline-block;
    font-weight: 200;
    line-height: 2;
}






.test-post{
    text-align: left !important;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    padding: 13px 15px;
}


/*/////////////////////////////////////////
文本图框
////////////////////////////////////////*/
.pricing-box-stop {
    background: #ffffff;
    font-weight: 300;
    border: 1px solid #ced4da;
    border-radius: 8px;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 0px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.pricing-box-stop:hover {
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015);
}


.pricing-box h4 {
    font-weight: 600;
}

.pricing-box span {
    font-size: 48px;
    font-weight: 600;
}

.not-included {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
}

.e-img{
    text-align: center;
}

.e-img img{
    text-align: center;
    background-size: cover;
    width: 100%;
    height: auto;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    max-width: 600px;
}

/*/////////////////////////////////////////
Call to Action
////////////////////////////////////////*/

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 10px;
    border: 1px solid transparent;
    border-radius: 0px;
    min-height: 40px;
    border-radius: 2px;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: rgba(0, 0, 0, 0.3);
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*/////////////////////////////////////////
Footer
////////////////////////////////////////*/

#footer, #footer a  {
    color: #1a1a1a;
}

.logo-footer {
    max-width: 400px;
}

.footer-link {
    padding: 5px 15px;
    font-weight: 600;
}

.footer-link > i {
    font-size: 24px;
    padding: 0 5px;
}

/*/////////////////////////////////////////
Media Queries
////////////////////////////////////////*/

@media (max-width: 575.98px) { 
    .mobile-list {
        display: block;
        margin-bottom: 25px;
    }
    .footer-link {
        padding: 0px;
    }
    .primary-btn, .secondary-btn {
        max-width: none;
        margin: 5px 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {  }

@media (min-width: 768px) and (max-width: 991.98px) {  }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .mobile-app {
        max-width: 900px;
    }
}

@media (min-width: 1200px) { 
    .mobile-app {
        max-width: 900px;
    }
}