
/*////////////////// 基本 //////////////////*/

body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .07em;
}

section {
    padding: 60px 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend Deca', sans-serif ;
    color: #1a1a1a;
}

a {
    color: #6d9eeb;
}

dl, ol, ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}

/*////////////////// 导航栏 //////////////////*/

.navbar a {
    font-family: 'Roboto', 'Noto Sans SC',sans-serif;
    color: #666666;
    font-weight: 500;
}

.navbar {
    background-color: #ffffff;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0; 
    padding: 0px 0px;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.navbar-toggler:focus {
    outline: none;
}

.nav-logo {
    padding: 8px;
    width: auto;
    height: auto;
    max-height: 54px;
}

.nav-item {
    margin-top: 4px;
}

.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: inline-block;
    line-height: 30px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.nav-link:hover {
    opacity: .95;
    border-bottom: 4px solid #6d9eeb;
}

.nav-right {
    margin: 0px !important;
    text-align: right !important;
    float: right !important;
}

/*////////////////// 按钮 //////////////////*/

.nav-btn {
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 4px;
    border:1px solid #cccccc;
    margin: 0px 0px;
    transition: all 0.2s;
}

.nav-btn:hover {
    text-decoration: none;
    background-color: #f1f3f4;
    color: #666666;
}

.blue-btn {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0em;
    background-color: #fbfbfb;
    padding: 7px 7px;
    display: inline-block;
    border-radius: 4px;
    border: 0px solid transparent;
    max-width: 100px;
    margin: 0px 0px;
    min-height: 20px;
    text-align: center;
    transition: all 0.2s;
}

.blue-btn:hover {
    text-decoration: none;
    background-color: #6d9eeb;
    color: #ffffff;
}


/*////////////////// 文本图框 //////////////////*/

.fillet-box {
    background: #ffffff;
    font-weight: 300;
    border: 1px solid #ced4da;
    border-radius: 6px;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 0px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.fillet-box:hover {
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015);
}

.fillet-box h4 {
    font-weight: 500;
}

.fillet-box img{
    text-align: center;
    background-size: cover;
    width: 100%;
    height: auto;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    max-width: 600px;
}

.fillet-box-text {
    text-align: left !important;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    padding: 13px 15px;
}

/*////////////////// 页脚 //////////////////*/

#footer, #footer a {
    color: #1a1a1a;
    font-size: 13px;
}

.logo-footer {
    max-width: 400px;
}

.footer-link > i {
    font-size: 24px;
    padding: 0 5px;
}

/*////////////////// 其它 //////////////////*/

.topmargin-sm { 
    margin-top: 20px !important; 
}

.topmargin-lg { 
    margin-top: 60px !important; 
}

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #1a1a1a !important;
}

.bg-dark {
    background-color: #000 !important;
}

.bg-gray {
    background-color: #f1f3f4 !important;
}

.bg-light {
    background-color: #ffffff !important;
}

.blank-l {
    padding-left: 30px;
}

.blank-r {
    padding-right: 30px;
}

.blank-t{
    margin-top: -4px;
}

/*////////////////// 自适应尺寸 //////////////////*/

@media (max-width: 575.98px) { 
    .mobile-list {
        display: block;
        margin-bottom: 25px;
    }
    .footer-link {
        padding: 0px;
    }
    .primary-btn, .secondary-btn {
        max-width: none;
        margin: 5px 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {  }

@media (min-width: 768px) and (max-width: 991.98px) {  }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .mobile-app {
        max-width: 900px;
    }
}

@media (min-width: 1200px) { 
    .mobile-app {
        max-width: 900px;
    }
}
